// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

// Main Layout Colors
$main-layout-color-primary: #c69963;
$main-layout-color-primary-dark: #b28451;
$main-layout-color-secondary: #101d2c;
$main-layout-color-grey-light-1: #f9f7f6;
$main-layout-color-grey-light-2: #aaa;
$main-layout-color-grey-dark-1: #54483a;
$main-layout-color-grey-dark-2: #6d5d4b;
// Main Layout Colors

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
